@{
    ViewBag.Title = "Index";
}

<h2>Sign Up</h2>

UserName @Html.TextBox("MemberName") <br /><br />
Password @Html.Password("MemberPassword1")<br /><br />
Password Again @Html.Password("MemberPassword2")<br /><br />